<div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">
  <mat-card class="box">
    <mat-card-header>
      <mat-card-title>Entrar</mat-card-title>
    </mat-card-header>
    <form [formGroup]="loginForm">
      <mat-card-content>
        <mat-form-field class="example-full-width">
          <mat-label>Usuário</mat-label>
          <input matInput formControlName="login">
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <mat-label>Senha</mat-label>
          <input matInput type="password" formControlName="password">
        </mat-form-field>
        <span style='color:red' *ngIf="loginError === true">Usuário ou senha inválidos!</span>
      </mat-card-content>
      <button mat-flat-button color="primary" class="btn-block" (click)="login()">Login</button>
    </form>
  </mat-card>
</div>
