<div mat-dialog-content>
  <h2>{{characterName}}</h2>
  <label>Level: {{level}}</label><br>
  <label>Raça: {{race}}</label><br>
  <label>Classe: {{characterClass}}</label><br>
  <label>Pontos de vida: {{lifePoints}}</label><br>
  <label>Pontos de mágica: {{magicPoints}}</label><br>
  <label>Pontos de ataque: {{attackPoints}}</label><br>
  <label>Pontos de defesa: {{defensePoints}}</label><br>
  <label>Pontos de proficiência: {{expertisePoints}}</label><br><br>
</div>
<div mat-dialog-action [align]="'end'">
  <button mat-raised-button color="warn" mat-dialog-close>Voltar</button>
</div>
