<h1 mat-dialog-title>Adicionar personagem</h1>
<div mat-dialog-content>
  <mat-form-field appearance="fill">
    <mat-label>Nome</mat-label>
    <input matInput>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Classe</mat-label>
    <mat-select>
      <mat-option value="">Selecionar</mat-option>
      <mat-option value="Guerreiro">Guerreiro</mat-option>
      <mat-option value="Mago">Mago</mat-option>
      <mat-option value="Caçador">Caçador</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Raça</mat-label>
    <mat-select>
      <mat-option value="">Selecionar</mat-option>
      <mat-option value="Humano">Humano</mat-option>
      <mat-option value="Elfo">Elfo</mat-option>
      <mat-option value="Anão">Anão</mat-option>
      <mat-option value="Orc">Orc</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Pontons de vida</mat-label>
    <input matInput type="number">
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Pontons de mágica</mat-label>
    <input matInput type="number">
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Pontons de ataque</mat-label>
    <input matInput type="number">
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Pontons de defesa</mat-label>
    <input matInput type="number">
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Pontons de proeficiencia</mat-label>
    <input matInput type="number">
  </mat-form-field>
</div>
<div mat-dialog-action [align]="'end'">
  <button mat-raised-button color="warn" mat-dialog-close>Sair</button>
  <button style="margin-left: 8px;"mat-raised-button color="primary">Salvar</button>
</div>
